body {
        overflow-x:hidden;
        margin: 0;
        padding: 0;
        background-color: #eae0df;
}

html {
        overflow-x: hidden;
}

main {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
}


